body{
    margin: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}


header{
    background-color: #804E21;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 133px;
    height: 35.3px;
    border-radius: 10px;
}
.logo img{
    width: 115px;
    max-width: 95%;
    height: auto;
}

main{
    background-color: #DDF6FF;
}
.title1{
    font-size: clamp(14px, calc(10.91vw - 20.91px), 20px);
    color: #4E9D1E;
    font-weight: bold;
    transform: rotate(-15deg);
    position: relative;
    margin: 0 auto;
    right: 115px;
    top: 15px;
    width: fit-content;
}
.title2{
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 16px 0 25px 0;
}
.title2 span{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    background-color: #4E9D1E;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-left: -15px;
}
.title3{
    background-color: #FFE34E;
    font-size: 20px;
    font-weight: bold;
    color: #804E21;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.rubyfood{
    background-color: #FFE34E;
    padding: 0 0 10px 0;
    text-align: center;
    background-image: url(images/rubyfoodone\ \(3\).png);
    background-size: min(357px,95%);
    height: auto;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    width: 100%;
}
.rubyfood img{
    width: 357px;
    max-width: 95%;
    height: auto;
}
.food1{
    height: 330px;
    display: flex;
    flex-direction: column;

}
.food1_inner{
    width: 375px;
    height: 330px;
    background-image: url(images/top_shino.png);
    background-size: 271px;
    background-repeat: no-repeat;
    background-position: bottom 5% left 150px;
    margin: 0 auto;
    max-width: 100%;
}

.food2{
    width: 117px;
    height: auto;
    transform: rotate(-8deg);
    position: relative;
    left: 10%;
    top: 32px;
}
.food3{
    width: 118px;
    height: auto;
    transform: rotate(-8deg);
    position: relative;
    left: -30%;
    top: 50px;
}
.food1_inner div{
    position: relative;
    left: 7%;
    top: 80px;
    width: fit-content;
}
.cta{
    width: fit-content;
    margin: 15px 0 0 0;
}

.link_botton{
    background-color: #4E9D1E;
    width: 189px;
    height: 51px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main1{
    font-size: clamp(14px, calc(10.9vw - 3.1px), 20px);
    font-weight: bold;
    color: #804E21;
    padding: 40px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main2{
    font-size: clamp(30px, calc(18.18vw - 28.18px), 40px);
    background-image: url(images/underline.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 23px;
    margin: 0 0 14px 0;
    width: 375px;
    max-width: 100%;
    text-align: center;
}
.main3{
    line-height: 1.2;
    margin: 10px 0;
}
.main4{
    margin: 20px;
    padding: 20px 30px;
    background-color: #FFE34E;
    border-radius: 80%;
}
.main5{
    background-color: #ffffff;
    padding: 15px 25px;
    margin: 20px 0 -22px 0;
    z-index: 100;
}

.h2{
    font-size: clamp(30px, calc(18.18vw - 28.18px), 40px);
    font-weight: 600;
    color: #FFE34E;

    text-shadow:
        1.75px 0 #804E21,
        -1.75px 0 #804E21,
        0 1.75px #804E21,
        0 -1.55px #804E21,
        1.75px 1.75px #804E21,
        -1.55px -1.55px #804E21,
        1.55px -1.55px #804E21,
        -1.75px 1.75px #804E21;
}
.h2a{
    padding: 0 0 0 7px;
    letter-spacing: 1px;
}
.h2b{
    letter-spacing: 4px;
}

.h3{
    font-size: clamp(14px, calc(18.18vw - 4.18px), 24px);
    font-weight: 600;
    color: #FFE34E;
    padding: 0 7px 0 0.5px;

    text-shadow:
        1.75px 0 #804E21,
        -1.75px 0 #804E21,
        0 1.75px #804E21,
        0 -1.1px #804E21,
        1.75px 1.75px #804E21,
        -1.1px -1.1px #804E21,
        1.1px -1.1px #804E21,
        -1.75px 1.75px #804E21;
}

.h4{
    font-size: clamp(14px, calc(10.9vw - 3.1px), 20px);
    font-weight: bold;
    color: #804E21;
    text-align: center;
}
.arrow-down {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #804E21;
    border-radius: 20px;
    corner-shape: superellipse(10) superellipse(10) bevel bevel;
}

.problem{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 20px;
    min-height: 680px;
}
.problem1{
    font-size: clamp(14px, calc(10.9vw - 3.1px), 20px);
    font-weight: bold;
    color: #804E21;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin: 0 0 30px 0;
}
.problem2{
    background-color: #FFFFFF;
    width: fit-content;
    border-radius: 80%;
    padding: 20px 40px;
    font-size: 16px;
    color: #804E21;
    font-weight: bold;
}
.problem2-2{
    background-color: #FFFFFF;
    border-radius: 80%;
    width: 46px;
    height: 26px;
}
.problem2-3{
    background-color: #FFFFFF;
    border-radius: 80%;
    width: 24px;
    height: 16px;
}
.position01{
    position: absolute;
    width: 357px;
    max-width: 100%;
    top: 50px;
}
.position1{
    position: relative;
}
.position1-2{
    position: absolute;
    left: 50px;
    top: 120px;
}
.position1-3{
    position: absolute;
    left: 80px;
    top: 150px;
}
.position02{
    position: absolute;
    width: 357px;
    max-width: 100%;
    top: 160px;
    right: -120px;
}
.position2{
    position: relative;
}
.position2-2{
    position: absolute;
    left: 160px;
    top: 110px;
}
.position2-3{
    position: absolute;
    left: 140px;
    top: 140px;
}
.position03{
    position: absolute;
    width: 357px;
    max-width: 100%;
    top: 275px;
}
.position3{
    position: relative;
}
.position3-2{
    position: absolute;
    left: 30px;
    top: 120px;
}
.position3-3{
    position: absolute;
    left: 60px;
    top: 150px;
}
.problem img{
    height: auto;
    width: 239px;
    position: absolute;
    left: 100px;
    top: 390px;
}

.solution{
    display: flex;
    flex-direction: column;
    color: #804E21;
    font-weight: bold;
    text-align: center;
    position: relative;
    align-items: center;
}
.solution1{
    color: #804E21;
    font-size: clamp(14px, calc(18.18vw - 4.18px), 24px);
    font-weight: bold;
    text-align: center;
    margin: 0 0 7px 0;
}
.solution2{
    width: 140px;
    position: absolute;
    top: 180px;
    z-index: 300;
}
.solution3{
    width: 153px;
    position: absolute;
    left: 55px;
    top: 275px;
    z-index: 300;
}
.solution4{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 330px;
}
.solution_inner{
    background-color: #FFFFFF;
    width: 236px;
    height: 236px;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 160px;
    border: 1px solid #4E9D1E;
    z-index: 100;
}
.solution0{
    background-color: #FFE34E;
    border-radius: 50%;
    width: 118px;
    height: 118px;
    position: absolute;
    z-index: 100;
}
.solution5{
    text-align: left;
    z-index: 300;
    position: absolute;
    left: 90px;
}
.solution6{
    text-align: right;
    z-index: 300;
    position: absolute;
    right: 90px;
}
.solution7{
    text-align: left;
    z-index: 300;
    position: absolute;
    left: 90px;
}
.solution8{
    text-align: right;
    z-index: 300;
    position: absolute;
    right: 90px;
}
.solution01{
    display: flex;
    position: relative;
    align-items: center;
}
.solution5-1{
    display: flex;
    justify-content: left;
    padding: 0 0 0 30px;
}
.solution6-1{
    display: flex;
    justify-content: right;
    padding: 0 30px 0 0;
}
.solution7-1{
    display: flex;
    justify-content: left;
    padding: 0 0 0 30px;
}
.solution8-1{
    display: flex;
    justify-content: right;
    padding: 0 30px 0 0;
}
.solution9{
    font-size: clamp(14px, calc(10.9vw - 3.1px), 20px);
    display: flex;
    flex-direction: column;
    gap: 104px;
    width: 375px;
    height: 350px;
    padding: 40px 0;
}
.curve{
    position:absolute;
    width:357px;
    height:600px;
    top:440px;
    left:0;
    z-index:1;
}
.monitor{
    color: #804E21;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.monitor1{
    align-self: flex-start;
    margin: 35px 0 -15px 40px;
    font-weight: 500;
}
.monitor2{
    background-color: #4E9D1E;
    width: 33%;
    height: 2px;
    background-repeat: no-repeat;
    transform: rotate(-8deg);
    position: absolute;
    inset-block-start: 73px;
    z-index: 100;

}
.monitor2-1{
    font-size: clamp(40px, calc(43.6vw - 3.6px), 64px);
    font-weight: 600;
    color: #FFE34E;
    padding: 0 5px 0 0;

    text-shadow:
        1.75px 0 #804E21,
        -1.75px 0 #804E21,
        0 1.75px #804E21,
        0 -1.1px #804E21,
        1.75px 1.75px #804E21,
        -1.1px -1.1px #804E21,
        1.1px -1.1px #804E21,
        -1.75px 1.75px #804E21;
}
.monitor2-2{
    font-size: clamp(20px, calc(21.8vw - 1.8px), 32px);
    font-weight: 600;
    color: #FFE34E;
    padding: 0 5px 0 0;

    text-shadow:
        1.75px 0 #804E21,
        -1.75px 0 #804E21,
        0 1.75px #804E21,
        0 -1.1px #804E21,
        1.75px 1.75px #804E21,
        -1.1px -1.1px #804E21,
        1.1px -1.1px #804E21,
        -1.75px 1.75px #804E21;
}

.monitor img{
    width: 182px;
}
.monitor4{
    font-size: clamp(14px, calc(10.9vw - 3.1px), 20px);
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.monitor4-1{
    background-image: url(images/〇.png);
    width: 53px;
    height: 43px;
    background-size: 53px 43px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -30px;
    top: -10px;
    z-index: 100;
}
.monitor4-1-1{
    display: flex;
    flex-direction: row;
    position: relative;
}
.monitor4-1-2{
    display: flex;
    flex-direction: row;
    position: relative;
}
.monitor4-1-3{
    display: flex;
    flex-direction: row;
    position: relative;
}
.monitor5{
    display: flex;
    align-items: end;
    position: relative;
}
.monitor5 > div:first-child{
    position: relative;
    z-index: 300;
}
.monitor3{
    font-size: clamp(14px, calc(10.9vw - 3.1px), 20px);
    padding: 0 0 10px 0;
}
.monitor6{
    z-index: 300;
}
.monitor7{
    position: relative;
    font-size: clamp(14px, calc(10.9vw - 3.1px), 20px);
}
.monitor8{
    background-color: #FFFFFF;
    border-radius: 80%;
    padding: 30px 40px;
    position: relative;
    z-index: 300;
    text-align: center;
}
.monitor9{
    background-color: #FFFFFF;
    width: 36px;
    height: 104px;
    corner-shape: bevel;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 40px;
    transform: rotate(-15deg);
    z-index: 100;
}
.monitor img{
    padding: 40px 0 30px 0;
}
